body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top-container {
  display: flex;
  background-color: #f2f2f2;
  height: 45%;
  padding: 20px;
}

.form-container {
  flex: 1;
  margin-bottom: 20px;
}

.table-container {
  flex: 2;
  margin-left: 20px;
}

.notes-container {
  flex: 2;
  margin-left: 20px;
}

.bottom-container {
  display: flex;
}