body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top-container {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.table-container {
  flex: 4;
  padding: 20px;
  overflow: scroll;
}